* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: white;
  margin-top: 40px;
  background-color: #1b1b32;
}

.to-do-list {
  width: 600px;
  min-height: 500px;
  background-color: white;
  color: black;
  padding: 25px;
  margin: 25px auto;
  border-radius: 26px;
  justify-content: center;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}